@charset "utf-8";
body{
	background:#000;
}
#menu{
	margin-top:15px;
}
#logo{
	margin-left:55px;
	font-family:quicksand;
}
.navbar-brand{
	font-size:32px;
}
.carousel-item{
	width:auto;
	height:600px;
}
#altmenu{
	float:right;
	padding:15px;
	font-size:16px;
}
#rsm{
	background-image:url(img/annie-spratt-R3LcfTvcGWY-unsplash.jpg);
    width:100%;
    height:500px;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}
.rsmtext{
    position:absolute;
    top:50%;
    left:40%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    color:#FFF;
}
.rsmtext h1{
	font-size:70px;
	text-align:center;
	color:#000;
	font-family:alex-brush;
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
	padding-left:60%;
	padding-top:50%;
}
#banner{
	background:url(img/tarihce.fw.png);
	padding:40px;
	margin:60px;
}
#banner h1{
	text-align:center;
	color:#FFF;
	font-family:allura;
}
.metin{
	text-align:center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#FFF;
}
h2{
	font-family:quicksand;
}
p{
	font-family:quicksand;
}
#ekip h3{
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#adres h1{
	text-align:center;
	color:#003;
}
iframe{
	width:98%;
	height:350px;
	margin:10px;
	margin-top:20px;
	border:0;
	border-radius:5px;
	padding:20px;
	}
.ortala{
	width:940;
	height:470px;
	margin-top:30px;
	padding:30px;
	box-sizing:border-box;
	text-align:center;
	padding:0px 400px;
	color:#FFF;
	background:url(img/ileti%C5%9Fim.png);
}
.ortala h2{
	text-align:center;
	padding-top:60px;
	color:#FFF;
	font-family:quicksand;
}
.sil{
    clear:both;
}
.card{
	height:450px;
	width:400px;
	border:1px solid #000;
	border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
	color:#FFF;
	background-color:#000;
	float:left;
	margin-left:40px;
	padding-top:15px;
}
h3{
	font-family:quicksand;
	color:#FFF;
	margin-top:30px;
}
.cardhr{
	text-align:center;
	color:#FFF;
	font-size:2px;
}
.cardp{
	text-align:center;
	color:#FFF;
}
#servis{
}
.mavi1{
	font-family:raleway;
	color:#000;
	text-shadow:0px 1px 1px black;
	letter-spacing:200%;
	text-align:right;
	padding-bottom:15px;
	margin-right:105px;
	}
.cardkutu{
	width:auto;
}
.cardkutu1{
	width:auto;
}
.cardkutu1 img{
    transition:opacity .8s;
}
cardkutu1 img:hover{
    opacity:1.0;
}

.card-title{
	color:#FFF;
	font-family:quicksand;
	font-style:italic;
}
.card1{
	height:500px;
	width:400px;
	color:#FFF;
	background-color:#000;
	float:left;
	margin:0 75px 0 75px;
	padding-top:55px;
}
.card1img{
	height:500px;
	width:400px;
}
.bas{
	padding-top:35px;
	font-family:quicksand;
}
.bas1{
	font-family:miss-fajardose;
	color:#FFF;
}
#iletisim{
	margin-top:10px;
}
.mb-5{
	color:#FFF;
}
.col-md-2{
	color:#FFF;
}
footer{
    background-color:#000;
	margin-top:40px;
    color:white;
    height:350px;
    text-align:center;
    padding-top:65px;
}
footer a{
    text-decoration:none;
    color:white;
}
footer a:hover{
    color:#003666;
}
/* CSS Document */